.header-container {
  width: 100%;
  max-width: 1335px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.headerBtn {
  width: 100%;
  max-width: 220px;
  height: 70px;
  border-color: #263238;
  border-radius: 5px;
  background-color: #ffffff;
}

.btnTitle {
  font-family: "Poppins", sans-serif;
  color: black;
  font-weight: 400;
  font-size: 24px;
  text-decoration: none;
}

.title-header {
  width: 100%;
  max-width: 518px;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  display: flex;
}

.elements {
  width: 100%;
  display: flex;
}

.elTitles {
  text-decoration: none;
  color: black;
}
